<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<h1>Create User</h1>
<hr>
{% if messages %}
 <ul class=flashes>
  {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
<form action="{{ url_for('patch_user',id=user.id)}}" method="post">
    <div>
    <label>Name
    <input type="text" name="name" value="{{user.name}}">
    </label>
        {% if errors["name"] %}
        {{errors["name"]}}
        {% endif %}
    </div>
    <div>
    <label>Email
    <input type="text" name="email" value="{{user.email}}">
    </label>
        {% if errors["email"] %}
        {{errors["email"]}}
        {% endif %}
    </div>
    <input type="submit" value="Create">
</form>
</body>
</html>